/* Customized style for Krista */

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.intro-header{
	background: url(../images/header-bg.jpg) no-repeat center center scroll;
	background-size: cover;
	background-position: center center;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;

}


.intro-title{
	font-size: 4em;
	font-family: 'Prata', serif;
	text-transform: uppercase;

}


.content-section-1{
	padding:100px 0;

}

.btn-light{
	background-color: none;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1em;
	border-radius:2px;

}

.btn-light:hover{
	color: #fff;
	background-color: rgba(255,255,255,0.2)
}



.btn-light:focus,
.btn-light.focus,
.btn-light:active,
.btn-light.active,{
	color:#fff;
}



